body {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #520047;
    
  }
  
  header {
    width: 105%;
    margin-left: -5px;
    margin-right: -5px;
    padding-right: 5px;
    background-color: #d10000;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
  }
  .textprinc {
    margin-top: 25px;
    color: #fff;
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
    align-items: flex-start;
    text-align: left;
  }
  .textprinc > div > button > a > {
    text-decoration: none;
  }
  section {
    margin-bottom: 1rem;
  }
  
  
  button {
    background-color: #520047;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 1rem auto;
    display: block;
  }
  
  footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
  }